* {
  opacity: 0.9;
}

body {
  margin: 0;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  text-align: center;
}


/*  HEADER*/

header {
  background-color: inherit;
  height: 69px;
  display: flex;
  align-items: center;
  width: 100%;
  position: fixed;
  justify-content: space-between;
  border-bottom: 1px solid seashell;
  z-index: 5;
}

header img {
  height: 50px;
  margin-left: 10px;
}

header nav {
  margin-right: 10px;
}

header a {
  margin: 0 10px;
  color: inherit;
}


/*  MAIN*/

main {
  margin: auto;
  position: relative;
  margin-bottom: 200px;
  top: 70px;
  width: 1200px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*  MAIN - Our Mission*/

#mission {
  background-image: url("../images/background.jpg");
  height: 700px;
  display: flex;
  width: inherit;
  /*align-items: center;*/
}

#mission div {
  margin: auto;
  width: 100%;
  background-color: black;
}

#mission h2 {
  margin-top: 10px;
  margin-bottom: 20px;
}

#mission h4{
  margin: 10px auto;
}

/*  MAIN - Tea of the Month*/

#featured {
  position: relative;
  top: 50px;
  width: 1030px;
}

.inline {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

#featured h2 {
  margin: 25px;
}

#featured h4 {
  margin-bottom: 15px;
  margin-top: 25px;
}

figure {
  margin: 15px;
}

figure img {
  height: 200px;
  width: 300px;
}

figcaption {
  margin-top: 10px;
  font-weight: bold;
}

/*  MAIN - Locations*/

#locations {
  position: relative;
  top: 115px;
  background-image: url("../images/locations.jpg");
  height: 500px;
  width: 1200px;
  padding-top: 70px;
}

#locations h2 {
  margin-bottom: 0;
}

#locations h3 {
  margin-bottom: 10px;
}

#locations .inline div {
  opacity: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: black;
  width: 300px;
  margin: 15px 20px;
}

#locations .inline div p {
  margin: 25px auto;
}

#locations .inline div p:last-child {
  margin-bottom: 30px;
}


/*  FOOTER*/

footer {
  margin: auto;
  width: 1200px;
}

footer h2 {
  top: 10px;
  margin-bottom: 40px;
}

footer section {
  height: 200px;
}

footer > h5 {
  text-align: left;
  margin-bottom: 15px;
}

@media (max-width: 1200px) {
  footer > h5 {
    margin-left: 15px;
  }
}
