body {
  margin: 0 auto;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}


/*  HEADER starts here*/

header {
  background-color: inherit;
  height: 69px;
  display: flex;
  align-items: center;
  width: 100%;
  position: fixed;
  justify-content: space-between;
  border-bottom: 1px solid seashell;
  z-index: 5;
}

header img {
  height: 50px;
  margin-left: 10px;
}

header nav {
  margin-right: 10px;
}

header a {
  margin: 0 10px;
  color: inherit;
}

/*  HEADER ends here*/

/*  MAIN starts here*/

main {
  position: relative;
  top: 70px;
  display: flex;
  justify-content: center;
}

/*  Our Mission*/

#mission {
  background-image: url("../images/background.jpg");
  height: 700px;
  width: 1200px;
  display: flex;
  align-items: center;
}

#mission div {

  width: 100%;
  background-color: black;
}
